

.navbar-brand{
    font-size: 20px;
}

.navbar-brand strong {
    margin-left: 5%;
    color: black;
}

.logo {
    width: 60px;
    height: 60px;
    position: relative;
    left: 1%;
    cursor: pointer;
}

.cart-img{
    position: relative;
}

.cart-badge {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 24px;
    right: 20px;
    background-color: green;
    border-radius: 50%;
    border-style: none;
    color: white;
}
