<body>
    <div class="container">
        <ng-container *ngFor="let item of product_list">
            <div class="product-card" *ngIf="item.id == parameter_id">
                <img class="product-img" src="{{ item.image }}" alt="">
                <div class="product-data">
                    <h4 class="product-name"><span class="text-danger">{{ item.title }}</span></h4>
                    <p class="product-des">{{ item.description }}</p>
                    <strong >Price :  <span class="text-danger">{{ item.price }} $</span></strong>
                    <br>
                    <button class="btn btn-danger add-to-cart-btn" (click)="add_to_cart(item)">Buy Now</button>
                </div>
            </div>
        </ng-container>
    </div>
</body>
