.product-card {
    padding: 2%;
    margin: 2%;
    width: 260px;
    height: auto;
}

.product-card img{
    width: 200px;
    height: 240px;
    transition: 0.3s ease-in-out;
}

.product-card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
}

.product-name {
    margin-top: 8%;
    margin-bottom: 6%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.product-des {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    max-height: 100px;
}

ng-container{
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.btn-danger {
    margin-top: 4%;
}

strong{
    width: 100%;
}

.see-more-link {
    text-decoration: none;
    color: gray;
    margin-bottom: 5%;
}