
<div class="container">
    <div class="search-box">
        <form action="" (ngSubmit)="submitForm()" #searchform>
            <input class="form-control" name="searched" type="text" placeholder="search..." formControlName="searchdkey">
        </form>
    </div>

    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="product-card card col-md-3">
                <img src="{{ item.image }}" alt=""> 
                <h5 class="product-name">{{ item.title }}</h5>
                <p class="product-des">{{ item.description }}</p>
                <a class="see-more-link" [routerLink]="['/info',item.id]">see more...</a>
                <strong >Price :  <span class="text-danger">{{ item.price }} $</span></strong>
                <button class="btn btn-danger" (click)="add_to_cart(item)">Buy Now</button>
            </div>
        </ng-container>
    </div>
</div>

<router-outlet></router-outlet>